# Inbalanced Classes
## In this lab, we are going to explore a case of imbalanced classes. 


Like we disussed in class, when we have noisy data, if we are not careful, we can end up fitting our model to the noise in the data and not the 'signal'-- the factors that actually determine the outcome. This is called overfitting, and results in good results in training, and in bad results when the model is applied to real data. Similarly, we could have a model that is too simplistic to accurately model the signal. This produces a model that doesnt work well (ever).

### Note: before doing the first commit, make sure you don't include the large csv file, either by adding it to .gitignore, or by deleting it.

### First, download the data from: https://www.kaggle.com/ealaxi/paysim1 . Import the dataset and provide some discriptive statistics and plots. What do you think will be the important features in determining the outcome?
### Note: don't use the entire dataset, use a sample instead, with n=100000 elements, so your computer doesn't freeze.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import RobustScaler, StandardScaler, PolynomialFeatures, MinMaxScaler
import seaborn as sns

### What is the distribution of the outcome?

In [2]:
table = pd.read_csv('C:/Users/Sergio/Desktop/table.csv').sample(1000000)

In [3]:
table.shape

(1000000, 11)

In [4]:
table.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3103885,235,CASH_OUT,75904.36,C660654081,0.00,0.00,C205080878,844635.79,920540.15,0,0
4756079,333,TRANSFER,1894993.73,C1886127931,0.00,0.00,C1541249299,4116835.58,6011829.31,0,0
5485821,380,CASH_IN,224479.21,C957400651,2177531.98,2402011.19,C1004326287,439886.57,215407.36,0,0
519034,20,CASH_OUT,50516.83,C1021721443,8009.00,0.00,C1759325545,769454.63,819971.46,0,0
2369340,191,PAYMENT,9627.25,C1053612891,40132.37,30505.12,M303459551,0.00,0.00,0,0

In [5]:
table.dtypes

step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

In [6]:
table.type.value_counts()

CASH_OUT    351874
PAYMENT     338915
CASH_IN     219357
TRANSFER     83461
DEBIT         6393
Name: type, dtype: int64

In [7]:
table.nameDest.nunique()

649229

In [8]:
table.nameOrig.nunique()

999777

In [9]:
table.drop(labels=['nameDest', 'nameOrig'], axis=1, inplace=True)

In [10]:
table.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3103885,235,CASH_OUT,75904.36,0.00,0.00,844635.79,920540.15,0,0
4756079,333,TRANSFER,1894993.73,0.00,0.00,4116835.58,6011829.31,0,0
5485821,380,CASH_IN,224479.21,2177531.98,2402011.19,439886.57,215407.36,0,0
519034,20,CASH_OUT,50516.83,8009.00,0.00,769454.63,819971.46,0,0
2369340,191,PAYMENT,9627.25,40132.37,30505.12,0.00,0.00,0,0

In [11]:
table.isFraud.value_counts(normalize=True)

0    0.998734
1    0.001266
Name: isFraud, dtype: float64

99% not fraud and 1% fraud

### Clean the dataset. How are you going to integrate the time variable? Do you think the step (integer) coding in which it is given is appropriate?

In [12]:
# Your code here

### Run a logisitc regression classifier and evaluate its accuracy.

In [13]:
le = LabelEncoder()
label_cols = ['type']
table[label_cols] = table[label_cols].apply(le.fit_transform)

In [14]:
y = table['isFraud']
X = table.drop(labels='isFraud', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

In [15]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
accuracy = lr.score(X_test, y_test)

print(accuracy)

0.998245

### Now pick a model of your choice and evaluate its accuracy.

In [16]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)
y_pred = dtc.predict(X_test)
accuracy = dtc.score(X_test, y_test)*100
print(accuracy)

99.9465

### Which model worked better and how do you know?

In [17]:
# Your response here

### Note: before doing the first commit, make sure you don't include the large csv file, either by adding it to .gitignore, or by deleting it.